{% load field_type %}
{% for field in form %}
        {% if field|field_type == "CheckboxInput" %}
        {{ field }}
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {% elif field|field_type == "PasswordInput" %}
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        {% else %}
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        <br>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}<div class="invalid-feedback">{{ error|safe }}</div>{% endfor %}
        {% endif %}
        {% if field.help_text %}
            <div class="text-muted">
                <p>{{ field.help_text|safe }}</p>
            </div>
        {% endif %}
{% endfor %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}{{ error|safe }}{% endfor %}
    </div>
{% endif %}
<br>
