{% extends "base_generic.html" %}
{% load socialaccount %}
{% block title%}Вход{% endblock %}
{% block content %}
<section>
  <h2>Вход</h2>
  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% include "includes/form.html" %}
    <button type="submit" class="button primary">Войти</button>
  </form>
    <p style="margin-bottom: 0.5em;">Уже есть аккаунт? <a href="{% url 'account_signup' %}">Войти</a></p>
    <p style="margin-bottom: 0.5em;">Или войдите через:</p>
    <a class="button icon brands fa-hacker-news" href="{% provider_login_url 'yandex' %}"
      >Яндекс</a
    >
</section>
{% endblock %}
