{% extends "base_generic.html" %}
{% load socialaccount %}
{% block title%}Регистрация{% endblock %}
{% block content %}
<section>
  <h2>Регистрация</h2>
  <form method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% include "includes/form.html" %}
    <button type="submit" class="button primary">Зарегистрироваться</button>
  </form>
    <p style="margin-bottom: 0.5em;">Уже есть аккаунт? <a href="{% url 'account_login' %}">Войти</a></p>
    <p style="margin-bottom: 0.5em;">Или зарегистрируйтесь через:</p>
    <form method="POST" action="{% provider_login_url 'yandex' %}">
        {% csrf_token %}
        <button type="submit" class="button icon brands fa-hacker-news">Яндекс
        </button>
    </form>
</section>
{% endblock %}

