{% extends "base_generic.html" %}

{% block title %}Список мероприятий{% endblock %}

{% block content %}
<h2>Список мероприятий</h2>
<form method="GET" class="form-inline mb-3">
    <input type="text" name="location" class="form-control mr-2" placeholder="Введите локацию">
    <button type="submit" class="btn btn-primary">Фильтровать</button>
</form>

<ul class="list-group mb-3">
    {% for event in events %}
        <li class="list-group-item">
            <strong>{{ event.name }}</strong><br>
            Локация: {{ event.location }}<br>
            Дата: {{ event.date }}
        </li>
    {% endfor %}
</ul>

<div id="events-map" style="width: 100%; height: 400px;"></div>

<script>
ymaps.ready(function() {
    var map = new ymaps.Map('events-map', {
        center: [55.76, 37.64],
        zoom: 10
    });

    {% for event in events %}
    var placemark = new ymaps.Placemark([{{ event.latitude }}, {{ event.longitude }}], {
        balloonContent: '{{ event.name }}<br>{{ event.date }}<br>{{ event.description }}'
    });
    map.geoObjects.add(placemark);
    {% endfor %}
});
</script>
{% endblock %}
