{% extends "base_generic.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>EcoPortal<br />
                от InsideData</h1>
                <p>создаём будущее вместе</p>
            </header>
            <p>Наш сайт помогает организовать и проводить экологические мероприятия, направленные на улучшение окружающей среды и повышение осведомленности о её проблемах. Мы предлагаем платформу для поиска идей, ресурсов и партнёров, а также инструменты для эффективного планирования и проведения событий. Присоединяйтесь к нам и вместе мы сделаем мир чище и зелёнее!</p>
            {% if user.is_anonymous %}
            <ul class="actions">
                <li><a href="/accounts/signup" class="button big">Присоединиться</a></li>
            </ul>
            {% endif %}
        </div>
        <span class="image object">
            <img src="{% static '/img/landing.png' %}" alt="" />
        </span>
    </section>

<!-- Section -->
    <section>
        <header class="major">
            <h2>О проекте</h2>
        </header>
        <div class="features">
            <article>
                <span class="icon solid fa-headset"></span>
                <div class="content">
                    <h3>Поддержка</h3>
                    <p>Оперативня команда техподдержки, которая всегда придёт к вам на помощь и решит любую вашу проблему</p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-door-open"></span>
                <div class="content">
                    <h3>Открытость</h3>
                    <p>Проект полностью бесплатен и доступен на любых устройствах (телефоны, персональные компьютеры и т.д.)</p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-map-marker"></span>
                <div class="content">
                    <h3>Мероприятия рядом</h3>
                    <p>С помощью нашего телеграмм бота отправим ему геолокации, ты сможешь узнавать о ближайшей мероприятиях рядом</p>
                </div>
            </article>
            <article>
                <span class="icon solid fa-rocket"></span>
                <div class="content">
                    <h3>Cистема лояльности</h3>
                    <p>За участие в мероприятиях получай уникальные листочки, которые можешь потратить на различные подарки от EcoPortal</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
